@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f8fafc;
}

.custom-bg {
    background-image: url("/hero-bg.svg");
    background-position: center;
    background-size: cover;
}